<launch>

  <arg name="node_name" default="controller"/>
  <arg name="cmdvel_topic_name" default="/cmd_vel"/>
  <arg name="odom_topic_name" default="/odom"/>
  <arg name="irbumper_topic_name" default="/ir_bumper"/>

  <rosparam param="sensors_angles">{base_irbumper_left : 1.0471975511965976, base_irbumper_front_left : 0.6283185307179586, base_irbumper_center_left : 0.20943951023931953, base_irbumper_center_right : -0.20943951023931953, base_irbumper_front_right : -0.6283185307179586, base_irbumper_right : -1.0471975511965976}</rosparam>

  <param name="robot_radius" value="0.1696"/>
  
  <node name="$(arg node_name)" pkg="cooperative_transport" type="controller" args="$(arg node_name)" output="screen">

    <rosparam subst_value="true" param="topic_names">{cmdvel : $(arg cmdvel_topic_name), odom : $(arg odom_topic_name), irbumper : $(arg irbumper_topic_name)}</rosparam>

  </node>

</launch>