<launch>

  <node name="ir_simulator" pkg="cooperative_transport" type="ir_simulator" output="screen">

    <param name="angle_0" value="3.14"/>

    <rosparam param="ir_sensor_specs">{alpha_o : 0.17453292519943295, alpha_i : 0.4363323129985824, beta : 0.8726646259971648, housing_length : 0.034, laser_resolution : 0.017453292519943295}</rosparam>

  </node>

</launch>